.row {
    display: flex;
    justify-content: center;
}

.logo {
    height: 200px;
    background-color: aqua;
    padding: 20px;
    border: 5px solid black;
    margin: 5px;
}

.pink {
    background-color: salmon;
}